.filterButtons {
  margin: 1rem 0 2rem 0;
}
.filterButtons button {
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: #ff9a3c;
  border: 1px solid #b1cbbb;
}

.filterButtons button:hover {
  background-color: #ffc93c;
  cursor: pointer;
}
